h1, h3, h4 {
    margin: 0.35em auto;
    text-align: center;
    text-align: -webkit-center;
}

.student-list {
    margin-top: 1em;
    text-align: center;
}

.student-list > thead > tr > th {
    text-align: -webkit-center;
    text-align: center;
}

.addStudentButtons button {
    margin: 0.25em auto;

}

.student-list-container {
    margin: 1em auto;
    text-align: center;
    text-align: -webkit-center;
}

.student-add-form {
    margin: 0.35em auto;
}